<div class="layout_padding contact_section">
    <div class="container">
      <div class="contact_section_inner">
        <div class="contact_main">
          <h1 class="contact_text">Edit Profile</h1>
          <form class="form-signin" [formGroup]="editProfileForm" (ngSubmit)="onSubmit()" #myform="ngForm">
            <div class="input_main">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name" formControlName="name">
              </div>
              <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" formControlName="email">
              </div>
              <div formArrayName="addresses">
                <button type="button" class="btn btn-primary pull-right" (click)="addAddress()"><i class="fa fa-plus-circle"></i> Add Address</button>              
                <div class="input_main" [ngStyle]="{'padding-top': '20px'}" *ngFor="let address of addresses().controls; let i=index" [formGroupName]="i">
                  <h2>Add Address</h2>
                  <button type="button" class="btn btn-danger pull-right" (click)="removeAddress(i)"><i class="fa fa-minus-circle"></i> Remove Address</button>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address" formControlName="address">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="State" formControlName="state">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="City" formControlName="city">
                  </div>
                </div>
              </div>
            </div>
            <div class="massage_box">
              <div class="row">
                <div class="col-sm-4">
                  <button class="send_bt">Save</button>
                </div>
              </div>
            </div>
          </form> 
        </div>
      </div>
    </div>
</div>