<div class="layout_padding contact_section">
    <div class="container">
      <div class="contact_section_inner">
        <div class="contact_main">
          <h1 class="contact_text">Login</h1>
          <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input_main">
              <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" formControlName="email">
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" formControlName="password">
              </div>
            </div>
            <div class="massage_box">
              <div class="row">
                <div class="col-sm-4">
                  <button class="send_bt">Login</button>
                </div>
              </div>
            </div>
          </form>          
        </div>
      </div>
    </div>
  </div>